In [2]:
import sqlite3

In [10]:
cursor.execute("INSERT INTO Users (Name) VALUES ('Vighnesh')")

In [12]:
rows = cursor.execute("SELECT * FROM Users").fetchall()
print(rows)

[(1, 'Vighnesh')]

In [13]:
def init():
    try:
        with sqlite3.connect('database.db') as conn:
            cursor = conn.cursor()
            cursor.execute("CREATE TABLE IF NOT EXISTS Users(Id INTEGER PRIMARY KEY, Name VARCHAR(50) NOT NULL)")
    except sqlite3.Error as e:
        print(f"An error occurred while creating the table: {e}")

In [14]:
def insert_data(name):
    try:
        with sqlite3.connect('database.db') as conn:
            cursor = conn.cursor()
            sql = 'INSERT INTO Users (Name) VALUES (?)'
            cursor.execute(sql, (name))
            row_id = cursor.lastrowid
            conn.commit()
            return row_id
    except sqlite3.IntegrityError:
        print("Error: The email address already exists.")
    except sqlite3.Error as e:
        print(f"An error occurred while inserting data: {e}")

In [15]:
init()
insert_data("Test1")

An error occurred while inserting data: Incorrect number of bindings supplied. The current statement uses 1, and there are 5 supplied.